#container-inicio-contacto{
    .container-titulo-contacto{
        font-size: 7rem;
        padding-top: 10rem;
        display: flex;
        padding-bottom: 20rem;
        background-color: orange;
        justify-content: center;
        text-align: center;
    }
}