#container-inicio{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(22, 18, 5, 0.459), rgba(0, 0, 0, 0.5)), url(../images/Gimnasios.webp);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    

    
}

#container-inicio .container-titulo .titulo-inicio {
    font-size: 10rem;
    color: orange;
    text-shadow: 1px 1px black;
    margin-bottom: 10rem;
    margin-top: 3rem;

}

#container-inicio .container-informacion .text-inicio{
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.884);
    width: 60%;
    margin: auto;
    letter-spacing: 4px;
    background-color: rgba(0, 0, 0, 0.589);

}