nav{
    position: fixed;
    width: 100vw;
}

#container-nav nav ul {
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
    margin-bottom: 1.5rem;
    background-color: rgba(0, 0, 0, 0.603);
    padding-bottom: .5rem;
    padding-top: 1rem;
    
}


#container-nav nav ul a{
padding: 0 10rem;
font-size: 30px;
text-decoration: none;
color: orange;
text-shadow: 1px 1px black;

}

#container-nav nav ul a:hover{
    color: rgb(255, 255, 255);
    transition: .2s;
}